@media (max-width: 768px) {
  .bottonsMovements {
    margin-left: 30vw;
  }
}

.play-button {
  background: none;
  border: 1px solid var(--white);
  border-radius: 5px;
  max-width: 38px;
}
.bottonsMovements > img {
  max-width: 100%;
  cursor: pointer;
}
p {
  color: var(--white);
}
