.play-button {
  background: none;
  /* border: 1px solid var(--blue-light-secondary-1); */
  border: none;
  border-radius: 5px;
  max-width: 38px;
}
.bottonsMovements > button > img {
  max-width: 100%;
  cursor: pointer;
  padding-top: 1rem;
}
p {
  color: var(--blue-light-secondary-1);
}
