footer {
  background-color: var(--teal-dark-primary);
  bottom: 0;
  color: var(--white);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
}

.mediaImage {
  margin: 0 0.8rem 0 0.8rem;
  width: 1.8rem;
}

.websites-container > a,
.websites-container > span > a,
.twitter-users > a {
  text-decoration: none;
  color: var(--white);
}

.contact-container > ul {
  list-style-type: none;
  padding: 0;
}

@media (max-width: 600px) {
  .social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.8rem 0 0.8rem 0;
    width: 100%;
  }

  .twitter-users {
    display: none;
  }
  .websites-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .websites-container > span {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .websites-container > a {
    margin: 0 0 0 3.4rem;
  }

  .contact-container > ul {
    text-align: center;
  }
  /* 
  .contact-container > ul > li:last-child {
    font-style: italic;
    margin-top: 1.8rem;
  } */
}

@media (min-width: 600px) {
  footer {
    display: flex;
    flex-direction: row;
    padding: 1.8rem;
  }
  .social-media-container {
    margin-top: 0.3rem;
  }

  .twitter-users,
  .websites-container {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--white);
  }
  .twitter-users > a,
  .websites-container > a,
  .websites-container span > a {
    font-size: 1.4rem;
    padding: 0.2rem 2rem 0.2rem 0.8rem;
  }
  .twitter-users > a {
    justify-content: center;
  }

  .websites-container {
    margin-left: 2rem;
  }
  .websites-container > span {
    align-items: center;
    display: flex;
  }
  .websites-container > a {
    margin-left: 3.4rem;
  }
  .contact-container {
    text-align: left;
    width: 60%;
    padding-left: 2rem;
  }

  .contact-container > ul {
    margin: 0;
    font-size: 1.4rem;
  }
  /* .address {
    display: none;
  } */

  /* .contact-container > ul > li:last-child {
    font-size: large;
    font-style: italic;
    font-weight: 600;
  } */
}
