footer {
  background-color: var(--teal-dark-primary);
  border: 1px solid red;
  bottom: 0;
  color: var(--white);
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
}

.mediaImage {
  margin: 0 0.8rem 0 0.8rem;
  width: 1.8rem;
}

@media(max-width: 600px){
 
  .social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0.8rem 0 0.8rem 0;
  
  }
  

  .twitter-users{
    display: none;
  }
  .websites-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .websites-container > span{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    
  }
  .websites-container > a,
  .websites-container > span > a{
    text-decoration: none;
    color:var(--white)
  }
  .websites-container > a {
    margin: 0 0 0 3.4rem;    
  }
  
  .contact-container > ul{
    list-style-type:none;
    text-align:  center;
    padding: 0;
  }

  .contact-container > ul > li:last-child{
    margin-top: 1.8rem;
    font-style: italic;
  }
  
}

/* footer {
  border: 1px solid red;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  width: 100vw;
  background-color: var(--teal-dark-primary);
  color: var(--white);
}

.social-media-container {
  display: flex;
  flex-direction: row; 
  
}
.social-media-container > span{
  padding-top: 0.5rem;
}
.media-logo-container {  
  width: 2.6rem;
  padding: 0.5rem;
  height: 2.4rem;
  
}
.mediaImage {
  width:1.8rem;
}


.twitter-users > p {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  border-left: 0.1rem solid var(--white);
  border-right: 0.1rem solid var(--white);
 
} */
