figure {
  display: flex;
  border: 1px solid var(--blue-light-secondary-1);
  margin: 0.5rem;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
a {
  margin: 0;
  padding: 0;
}
img {
  aspect-ratio: 1;
  background-color: black;
  object-fit: contain;
  width: 100%;
}

.title-cam {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
