@media (max-width: 768px) {
  .cam-container {
    min-width: 100%;
  }
  .cam-container > a {
    min-width: 100%;
  }
  .cam-container > a > img {
    min-width: 100%;
  }
}

.cam-container {
  border: 1px solid var(--blue-light-secondary-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  width: 100%;
}
.cam-container > a {
  margin: 0;
  padding: 0;
  width: 100%;
}
.cam-container > a > img {
  aspect-ratio: 1/1;
  background-color: black;
  object-fit: contain;
  /* width: 22.5vw; */
  /* width: 12vw; */
  width: 100%;
}

.cam-container > .title-cam {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
