* {
  box-sizing: border-box;

  /* Primary Colors */
  --blue-light-primary: #1487b9;
  --blue-dark-primary: #22467f;
  --teal-light-primary: #004d56;
  --teal-dark-primary: #09202e;

  /* Secondary Colors */
  --blue-light-secondary-1: #70afba;
  --blue-light-secondary-2: #98d1dd;
  --green-light-secondary: #c7d15d;
  --green-dark-secondary: #8abb73;
  --white: #ffffff;
}

html {
  /* Fonts */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
}
/* Mobile */
@media (max-width: 768px) {
}

/* Desktop */
@media (min-width: 768px) {
}
