header {
  background-color: var(--teal-dark-primary);
  color: var(--white);
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  overflow: hidden;
  width: 100vw;
  align-items: center;
}

@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }
  header > h1 {
    display: none;
  }
  .bottonsMovements {
    margin-left: 30vw;
  }
}

header > h1 {
  padding: 0px 28px;
}

.companyLogo {
  max-width: 150px;
  min-width: 50px;
  padding: 7px 28px;
}

.bottonsMovements > img {
  max-width: 28px;
  cursor: pointer;
}
