@media (max-width: 768px) {
  .cameras-grid-container {
    display: flex;
    width: 100%;
    overflow: auto;
    gap: 0.5rem;
    scroll-behavior: smooth;
  }
}

@media (min-width: 768px) {
  .cameras-grid-container {
    display: grid;
    /*flex-wrap: wrap;
    flex-direction: row; */
    grid-template-columns: repeat(12, minmax(205px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr;
    /* display: flex; */
    /* height: 100%; */
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 100%;
    gap: 0.5rem;
  }

  .searched-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
