@media (max-width: 768px) {
  .cameras-grid-container {
    display: flex;
    width: 100%;
    overflow: auto;
    gap: 0.5rem;
    scroll-behavior: smooth;
  }
}

@media (min-width: 768px) {
  .cameras-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    width: 100%;
    gap: 0.5rem;
    scroll-behavior: smooth;
  }
}
