@media (max-width: 768px) {
  .cameras-grid-container {
    display: flex;
    width: 100%;
    overflow: auto;
    gap: 0.5rem;
    scroll-behavior: smooth;
  }
  .modal-picture {
    max-width: 80vw;
  }
}

@media (min-width: 768px) {
  .cameras-grid-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(205px, 1fr));
    grid-template-rows: 1fr 1fr;
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 100%;
    gap: 0.5rem;
  }

  .searched-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1920px) {
  .cameras-grid-container {
    grid-template-columns: repeat(8, minmax(203px, 1fr));
  }
  .searched-container {
    grid-template-columns: repeat(auto-fit, minmax(203px, 1fr));
  }
}
@media (min-width: 2560px) {
  .cameras-grid-container {
    grid-template-columns: repeat(8, minmax(205px, 1fr));
  }
  .searched-container {
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
  }
}

.modal-picture {
  max-height: 75vh;
}

.modal-container {
  display: flex;
}
.close-button {
  cursor: pointer;
  height: 30px;
}

.modal-picture-container {
  background-color: var(--white);
  padding: 15px 20px 70px 20px;
  box-shadow: 0 5px 20px 2px rgb(255 255 255 / 10%);
}

.modal-picture-container > p {
  width: 100%;
  font-size: x-large;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
