@media (max-width: 600px) {
  .panel-container > ul {
    display: flex;
    flex-wrap: wrap;
  }
  .panel-container > ul > button {
    width: 50%;
  }
}
main {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.panel-container .panel-container > ul {
  border-radius: 0.5rem;
}
.panel-container {
  /* margin-top: 1.6rem; */
  width: 95%;
}
.panel-container > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.panel-container > ul > button {
  background: none;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 0.15rem var(--blue-light-secondary-1) solid;
  color: var(--blue-light-secondary-1);
  cursor: pointer;
  font-family: Arial;
  font-size: 1.8rem;
  font-weight: 600;
  min-width: calc(100% / 4);
  overflow: hidden;
  padding: 0.5rem;
  text-transform: capitalize;
}

.panel-container > ul > button:hover {
  background-color: var(--blue-light-secondary-1);
  color: white;
}

.panel-container > ul > button:focus {
  background-color: var(--blue-light-secondary-2);
  color: white;
}
