main {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.panelContainer,
ul {
  border-radius: 0.5rem;
}
.panelContainer {
  border: 1px red solid;
  margin-top: 1.6rem;
  width: 90%;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul > li {
  border-radius: 0.5rem 0.5rem 0 0;
  border: 0.15rem var(--blue-light-secondary-1) solid;
  color: var(--blue-light-secondary-1);
  font-size: 1.8rem;
  min-width: calc(100% / 4);
  padding: 0.5rem;
  text-transform: capitalize;
  font-weight: 600;
  overflow: hidden;
}

ul > li:hover {
  background-color: var(--blue-light-secondary-1);
  color: white;
}

ul > li:first-child {
  background-color: var(--blue-light-secondary-1);
  color: white;
}
